<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>TransitoDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <main>
      <div class="navbar-fixed">
        <nav class="cyan darken-4">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo center">TransitoDB</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/multas">Multas</a></li>
              <li><a href="/multas/add">Agregar</a></li>
            </ul>
          </div>
        </nav>
      </div>
